<% provide(:title, "Job Search") %>
<div class="singleEntry">
	<h1 style="margin-bottom:100px;">Job Search Materials</h1>
	<div class="row vertical-align margTopBot">
	    <div class="col-xs-offset-1 col-xs-2">
	    	<%= link_to(image_tag("jobapp/CV_research.png", :style => "max-width:75%;"), asset_path("jobapp/CV_research.pdf")) %>
	    </div>
	    <div class="col-xs-2">
	    	<%= link_to(image_tag("jobapp/CV_industry.png", :style => "max-width:75%;"), asset_path("jobapp/CV_industry.pdf")) %>
	    </div>
	    <div class="col-xs-2">
	    	<%= link_to(image_tag("jobapp/research_statement.png", :style => "max-width:75%;"), asset_path("jobapp/research_statement.pdf")) %>
	    </div>
	    <div class="col-xs-2">
	    	<%= link_to(image_tag("jobapp/linkedin.png", :style => "max-width:75%;"), "http://www.linkedin.com/in/yuchenzhouUVa") %>
	    </div>
	    <div class="col-xs-2">
	    	<%= link_to(image_tag("jobapp/github.png", :style => "max-width:75%;"), "https://www.github.com/Treeeater") %>
	    </div>
	</div>
	<div class="textBlock">
		<p class="noindent"> Hi future employers! </p>
		<p>My name is Yuchen Zhou and I am graduating with a Ph.D in Computer Engineering (research focusing on web application and third-party service security and privacy) from University of Virginia in May 2015.  You can find my Resume, research statement, LinkedIn and Github profile by clicking on the icons above. I prefer research-oriented industry lab positions that do security-related works to general software development positions, however, I am open to either of them as long as I'll be doing interesting things.  Please see details below: </p>
		<p><b>Research and/or Security-Related Positions: I would love to continue to do security research!</b> I do not have any specific area preferences on such positions. The particular domain that I know the best is web application and RESTful/Single Sign-On API security (please check out my <%= link_to "research projects page", research_path %>!).  I am also familiar with most basic concepts of lower-level vulnerabilities and defenses (e.g. buffer overflow, ROP, ASLR/DEP), network security and a little bit about cryptography.  Besides all of these, I am always super excited to learn more stuffs that I don't already know yet!</p>
		<p><b>General Industry/Developer Positions: </b> For general software development positions, I would rather work on web application-related areas.  Throughout the years of my Ph.D studies, I have accumulated lots of hands-on experience with JavaScript and MVC frameworks like Ruby on Rails.  I have done works to <%= link_to "understand", research_fireinspector_path %> and <%= link_to "restrict", research_esorics_path %> third-party JavaScript behavior, and used Ruby to automate evaluation of my research tools in multiple projects.  I have also developed a small <%= link_to "Rails site", "https://www.github.com/Treeeater/Rails_MTG" %> to facilitate drafting for a trading card game as my hobby.  I will be very happy to work as a "full stack" engineer.  As a second choice, I am also open to general back end development involving C/C++, as I modified both Google's Chromium open source browser and Mozilla's Firefox browser as part of my Ph.D research, and they both are written largely in C/C++.
		<p> If you are interested in me, don't hesitate to <%= link_to "reach out", contact_path%>! </p>
		<p> Best, </p>
		<p class="noindent"> --Yuchen </p>
	</div>
</div>
