<% provide(:title, "Travels") %>
<div class="singleEntry">
	<h1>Travel &middot; 四海为家</h1>
	<div class="textBlock">
		<img src="http://map1.maploco.com/visited-states/ml/CA-DC-DE-FL-GA-IL-MA-MD-ME-MN-NC-NH-NJ-NV-NY-OR-PA-SC-VA-WA-WV.png" border=0 class="img-responsive">
		<div class="imageCaption">I've been there!</div>
		<p> I've traveled quite a bit since I came to the U.S.. Before that, I've been to many provinces in China, as well as Belgium, France, Japan, Myanmar, Netherlands, and the Bahamas.</p> 
		<p> Here are some pictures of me taken while I'm traveling around the world! </p>
		<div class="row vertical-align margTopBot">
		    <div class="col-md-4">
		    	<%= image_tag("life/beijing.jpg", :class => "img-responsive") %>
				<div class="imageCaption">Tsinghua University, Beijing, China</div>
		    </div>
		    <div class="col-md-4">
		    	<%= image_tag("life/space_needle.jpg", :class => "img-responsive") %>
				<div class="imageCaption">Space Needle, WA</div>
		    </div>
		    <div class="col-md-4">
		    	<%= image_tag("life/acadia.jpg", :class => "img-responsive") %>
				<div class="imageCaption">Acadia NP, ME</div>
		    </div>
		</div>
		<div class="row vertical-align margTopBot">
		    <div class="col-md-4">
		    	<%= image_tag("life/eiffel_tower.jpg", :class => "img-responsive") %>
				<div class="imageCaption">Eiffel Tower, Paris, France</div>
		    </div>
		    <div class="col-md-4">
		    	<%= image_tag("life/universal_studio.jpg", :class => "img-responsive") %>
				<div class="imageCaption">Universal Studio, L.A., CA</div>
		    </div>
		    <div class="col-md-4">
		    	<%= image_tag("life/key_west.jpg", :class => "img-responsive") %>
				<div class="imageCaption">Key West, FL</div>
		    </div>
		</div>
	</div>
</div>
