<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Yuchen's Home", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Job Application",   jobapp_path %></li>
        <li><%= link_to "Research",   research_path %></li>
        <li><%= link_to "Contact Me", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>