<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= specfic_css(yield(:specific_css)) %>
</head>
<body>
  <%= if (is_Yuchen_homepage) then render 'layouts/header' end %>
  <% conditional_wrapper(has_sidebar, :id=>"wrapper") do %>
    <div class="container">
      <%= if (has_sidebar) then render "#{params[:controller]}/left_sidebar" end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  <% end %>
  <% if (has_sidebar) %>
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  <% end %>
</body>
</html>
